{% extends "layout.html" %}
{% block title %}Blog{% endblock %}
{% block body %}
<div class="allposts">
  Latest posts | <a href="/archive/">Archive by year</a> | <a href="/tags/">Archive by tag</a>
</div>

<h1>Latest posts</h1>
<ul class="blogposts">
{%- for entry in pagination.get_slice() %}
  <li>
    <h2><a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a></h2>
    <div class="meta">
      {{ format_date(entry.pub_date, format='long') }}, tagged
      {% for tag in entry.tags|sort(case_sensitive=true) %}
        {%- if not loop.first and not loop.last %}, {% endif -%}
        {%- if loop.last and not loop.first %} and {% endif %}
        <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
      {%- endfor %}
    </div>
    {% if entry.summary %}
      <div class="summary">{{ entry.render_summary() }}</div>
      <div class="read-more"><a href="{{ link_to('page', slug=entry.slug) }}">Read more...</a></div>
    {% endif %}
  </li>
{%- endfor %}
</ul>
{% endblock %}

{% block footer %}
  {% if show_pagination and pagination.pages > 1 %}
    {{ pagination }}
  {% endif %}
{% endblock %}
