<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:type" content="website"/>
{%- if ctx %}
  <meta property="og:url" content="{{ ctx.url }}"/>
  <meta property="og:title" content="{{ ctx.title }}"/>
  {% if ctx.description %}
    <meta property="og:description" content="{{ ctx.description }}"/>
  {% endif %}
  {% if ctx.image %}
    <meta property="og:image" content="{{ ctx.image }}"/>
  {% endif %}
  {% if ctx.image_alt %}
    <meta property="og:image:alt" content="{{ ctx.image_alt }}"/>
  {% endif %}
  {% if ctx.tags %}
    <meta name="keywords" content="{{ ctx.tags|sort|join(', ')}}"/>
  {% endif %}
{%- endif -%}
{% block extrameta %}{% endblock %}

<title>{% block title %}Home{% endblock %} | agateau.com</title>
<link rel="stylesheet" href="/static/style.css?hash={{ config.css_hash }}" type="text/css">
<link rel="stylesheet" href="/static/wp-support.css" type="text/css">
<link rel="alternate" href="/feed" title="Recent Blog Posts" type="application/atom+xml">
{%- for link in links %}
<link rel="{{ link.rel }}" href="{{ link.href }}"{% if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
{%- endfor -%}
{% block extracss %}{% endblock %}
{% block extrajs %}{% endblock %}

</head>
<body>

{% block basebody %}{% endblock %}

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "da1cdfafdb6846c69dd0aa56961962b1"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>
