<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% block extrameta %}{% endblock %}

<title>{% block title %}Home{% endblock %} | agateau.com</title>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/wp-support.css" type="text/css">
<link rel="alternate" href="/feed" title="Recent Blog Posts" type="application/atom+xml">
{%- for link in links %}
<link rel="{{ link.rel }}" href="{{ link.href }}"{% if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
{%- endfor -%}

<link rel="stylesheet" href="/static/colorbox.css" />
<script src="/static/jquery.js"></script>
<script src="/static/jquery.colorbox-min.js"></script>
<script>
function onReady() {
  $('a.image-reference').colorbox({rel:'gal', maxWidth:'100%', maxHeight:'100%'});
}
$(document).ready(onReady);
</script>
</head>
<body>
<header>
  <div class="search-full">
    <form action="https://duckduckgo.com">
      <input type="hidden" name="sites" value="agateau.com">
      <input type="text" name="q" class="search-field" placeholder="Search" title="Search this site using DuckDuckGo">
    </form>
  </div>
  <div class="sleeve">
    <h1><a href="/">Aurélien Gâteau</a></h1>
    <nav>
      <ul>
        <li><a href="/apps/">Apps</a></li>
        <li><a href="/games/">Games</a></li>
        <li><a href="/archive/">Archive</a></li>
        <!--
        <li><a href="/article-series/">Article Series</a></li>
        <li><a href="/talks/">Talks</a></li>
        -->
        <li><a href="/tags/">Tags</a></li>
        <li><a href="/about-me/">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="search-small">
  <div class="sleeve">
    <form action="https://duckduckgo.com">
      <input type="hidden" name="sites" value="agateau.com">
      <input type="text" name="q" class="search-field" placeholder="Search" title="Search this site using DuckDuckGo">
    </form>
  </div>
</div>

<div class="sleeve">
  <div class="body">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <ul>
      <li>Follow me on <a href="https://mastodon.xyz/@agateau">Mastodon</a> or <a href="https://twitter.com/aureliengateau">Twitter</a></li>
      <li><a href="/feed">Feed</a></li>
    </ul>
  </footer>
</div>

</body>
</html>
