{% extends "layout.html" %}
{% block title %}{{ rst.title }}{% endblock %}
{% block extrajs %}
{{ super() }}
{%- if config.get('disqus', true) %}
<script src="/static/comments.js"></script>
{%- endif %}
{% endblock %}
{% block body %}
  <article>
    {%- if not config.hide_title %}
    {{ rst.html_title }}
    {%- endif %}
    {% if ctx.pub_date %}
    <p class="date">written on {{ format_date(ctx.pub_date, format='full') }}</p>
    {% endif %}

    {{ rst.fragment }}

    <div class="meta">
      {% if ctx.tags %}
      <div class="tags">This post was tagged
        {% for tag in ctx.tags|sort(case_sensitive=true) %}
          {%- if not loop.first and not loop.last %}, {% endif -%}
          {%- if loop.last and not loop.first %} and {% endif %}
          <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
        {%- endfor %}
      </div>
      {% endif %}

      <div class="share">
        Share on <a href="https://twitter.com/share?url={{ ctx.url|urlencode }}&amp;text={{ rst.title|urlencode }}&amp;via=aureliengateau" rel="external">Twitter</a>
      </div>
    </div>
  </article>

  {%- if config.get('disqus', true) %}
  <section id="comments"></section>
  {%- endif %}
{% endblock %}
{% block footer %}
    <em>Hey, I am making a game! A retro arcade racing game called Pixel Wheels! <a href="/projects/pixelwheels">Check it out!</a></em>
{% endblock %}
