{% extends "layout.html" %}
{% block title %}{{ rst.title }}{% endblock %}
{% block extrajs %}
{{ super() }}
{%- if config.get('comments', true) %}
<script src="/static/comments.js"></script>
{%- endif %}
{% endblock %}
{% block body %}
  <article>
    {%- if not config.hide_title %}
    {{ rst.html_title }}
    {%- endif %}
    {% if ctx.pub_date %}
    <p class="date">written on {{ format_date(ctx.pub_date, format='full') }}</p>
    {% endif %}

    {{ rst.fragment }}

    <div class="meta">
      {% if ctx.tags %}
      <div class="tags">This post was tagged
        {% for tag in ctx.tags|sort(case_sensitive=true) %}
          {%- if not loop.first and not loop.last %}, {% endif -%}
          {%- if loop.last and not loop.first %} and {% endif %}
          <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
        {%- endfor %}
      </div>
      {% endif %}
    </div>
  </article>

  {%- if config.get('comments', true) %}
  <section id="comments"></section>
  {%- endif %}
{% endblock %}
{% block footer %}
    <em>Hey, I am making a game! A retro arcade racing game called Pixel Wheels! <a href="/projects/pixelwheels">Check it out!</a></em>
{% endblock %}
