{% extends "layout.html" %}
{% block title %}Blog archive by tag{% endblock %}
{% block body %}
  <div class="allposts">
    <a href="/blog/">Latest posts</a> &bull; <a href="/archive/">Archive by year</a> &bull; Archive by tag
  </div>
  <h1>Archive by tag</h1>
  <p>
  {%- for group, _ in get_tags()|groupby("group") %}
    <a href="#{{ group }}">{{ group.upper() }}</a>
  {%- endfor %}
  </p>

  {%- for group, tags in get_tags()|groupby("group") %}
    <h2 id="{{group }}">{{ group.upper() }}</h2>
    <p>
      {%- for tag in tags %}
        <a href="{{ link_to('tag', tag=tag.name) }}">{{ tag.name }}</a>
        {%- if tag.count > 1 %} <small>({{ tag.count }})</small>{% endif %}
        {{- "," if not loop.last }}
      {%- endfor %}
    </p>
  {%- endfor %}
{% endblock %}
