{% extends "base.html" %}
{% block title %}{{ rst.title }}{% endblock %}
{% block extracss %}
<link rel="stylesheet" href="/static/welcome.css" type="text/css">
{% endblock %}
{% block basebody %}
<header>
  <div class="sleeve">
    <div class="banner">
      <img class="avatar" src="/static/images/avatar.png" width="96" height="96" alt="Avatar">
      <h1>
      Hi,<br>I am Aurélien.</h1>
    </div>
  </div>
</header>

<div class="sleeve main-wrapper">
  <div class="body">
    <article>
      <div class="main">
        {{ rst.fragment }}
      </div>
    </article>
  </div>
</div>

{% endblock %}
