/*-------------------------------------

Constants

-------------------------------------*/
$darkColor: #3d3d3d;
$lightColor: whitesmoke;
$linkColor: #06c;

$headingColor: $darkColor;

$headerBgColor: $darkColor;
$headerTextColor: $linkColor;

$buttonBgColor: lighten($linkColor, 50%);
$buttonBevelColor: $linkColor;
$buttonTextColor: $darkColor;

/*-------------------------------------

General style

-------------------------------------*/
body {
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    background-color: $lightColor;
    line-height: 1.5em;
    font-size: 12pt;
}

a {
    color: $linkColor;
    font-weight: 400;
}

/*-------------------------------------

Headlines

-------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    font-weight: 400;
    color: $headingColor;
    line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;

}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 15px 0;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
    font-style: italic;
}

h3 {
    font-size: 140%;
}

/*-------------------------------------

Layout

-------------------------------------*/
div.sleeve {
    margin: 0 0.5em;
}

header {
    background-color: $headerBgColor;
    line-height: 2em;
    text-align: center;
    color: $headerTextColor;
    font-size: 80%;
    font-variant: all-small-caps;
}

header h1 {
    display: inline;
    font-size: 140%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header a {
    color: whitesmoke;
    text-decoration: none;
}

header p.title {
    margin: 0;
}

/*- Navigation -----------------------*/
nav ul {
    background-color: $headerBgColor;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a, footer a {
    text-decoration: none;
}
nav a:hover, footer a:hover {
    text-decoration: underline;
}
nav ul li:not(:first-child):before {
    content: ' | ';
    color: #666;
}

nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

/*- Search ---------------------------*/
div.search-small {
    text-align: center;
    display: block;
    background-color: #ddd;
    line-height: 1em; /* necessary to keep the content vertically-centered */
    padding: 0.5em 0;
    margin: 0;
    margin-bottom: 1em;
}

div.search-full {
    display: none;
}

div.search form {
    display: inline;
    padding: 0;
    margin: 0;
    height: 16px;
}

input.search-field {
    border: none;
    border-radius: 0.75em;
    height: 1.5em;
    padding: 0;
    margin: 0;
    padding-left: 0.75em;
    background-color: $lightColor;
    width: 12em;
}

/*- Body -----------------------------*/
div.body {
    clear: both;
}

/*- Footer ---------------------------*/
footer {
    padding-top: 9px;
    margin-top: 42px;
    border-top: 1px solid #445;
    text-align: right;
    color: #555;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer ul li {
    display: inline;
    margin: 0;
    padding: 0;
}
footer ul li:not(:first-child):before {
    content: ' – ';
    color: #445;
}

/* margins and stuff */
p, div.line-block, ul, ol, pre, table {
    margin: 25px 0 25px 0;
}
dt {
    margin: 25px 0 16px 0;
    padding: 0;
}
dd {
    margin: 16px 0 25px 40px;
    padding: 0;
}
ul ol, ol ul, ul ul, ol ol {
    margin: 10px 0;
    padding: 0 0 0 40px;
}
li {
    padding: 0;
}
h1 + p.date {
    margin-top: -15px;
}

/* code formatting.  no monospace because of webkit (bug?) */
pre, code, tt {
    font-family: 'Ubuntu Mono', 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New';
}
pre {
    line-height: 1.3;
    background-color: #e8e8e8;
    padding: 6px;
    border-left: 6px solid #aaa;
}

code {
    color: #c25;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
    padding: 1px 3px;
}

pre code {
    background-color: #e8e8e8;
    color: black;
    border: none;
    padding: 0;
}

/* tables */
table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    background: #fafafa;
}
td, th {
    padding: 2px 12px;
    border: 1px solid #ddd;
}

/* footnotes */
table.footnote {
    margin: 15px 0;
    background: transparent;
    border: none;
}
table.footnote td {
    border: none;
    padding: 9px 0 0 0;
    font-size: 15px;
}
table.footnote td.label {
    padding-right: 10px;
}
table.footnote td p {
    margin: 0;
}
table.footnote td p + p {
    margin-top: 15px;
}

/* quotes */
blockquote {
    margin: 0 2em;
    padding: 6px;
    font-family: serif;
    color: #555;
    background-color: #eee;
    position: relative;
}

blockquote:before {
    content: "\201C";
    font-size: 300%;
    position: absolute;
    top: 0.4em;
}

blockquote p {
    margin-left: 1.4em;
}

/*- Overview --------------------------*/
article.overview h1 {
    margin: 0;
    padding: 0;
    font-size: 20pt;
    font-weight: normal;
}

article.overview p {
    margin-top: 0;
}

/*--------------------------------------

pagination

--------------------------------------*/
div.pagination {
    margin: 36px 0 0 0;
    text-align: center;
}
div.pagination strong {
    font-weight: normal;
    font-style: italic;
}

/*--------------------------------------

article meta

--------------------------------------*/
div.meta {
    height: 3em;
}

div.share {
    float: left;
}

div.tags {
    float: right;
}

/*--------------------------------------

tag cloud

--------------------------------------*/
ul.tagcloud {
    font-size: 16px;
    margin: 36px 0;
    padding: 0;
    list-style: none;
}

ul.tagcloud li {
    margin: 0;
    padding: 0 10px;
    display: inline;
}

/*--------------------------------------

Gallery

--------------------------------------*/
ul.thumbnails {
    padding: 0;
}

ul.thumbnails li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.thumbnails a img {
    padding-top: 5px;
}

/*--------------------------------------

Misc

--------------------------------------*/
img.align-center {
    margin: 15px auto;
    display: block;
}

div#disqus_thread {
    clear: both;
    border-top: 1px solid #445;
    padding-top: 9px;
}

.date, .meta {
    color: #555;
    font-size: 80%;
}

.center {
    text-align: center;
}

/*--------------------------------------

Button

--------------------------------------*/
.dl-button {
    color: $buttonTextColor;
    padding: 0.7em;
    border-radius: 9px;
    border: 1px solid $buttonBevelColor;
    text-decoration: none;
    box-shadow: inset 0 -4px 0 $buttonBevelColor;
    background-color: $buttonBgColor;
}

.dl-button:hover {
    background-color: lighten($buttonBgColor, 1%);
}

.dl-button:active {
    position: relative;
    top: 3px;
    box-shadow: inset 0 -1px 0 $buttonBevelColor;
}

/*--------------------------------------

Medium size

--------------------------------------*/
@media screen and (min-width: 600px) {
    header {
        clear: both;
        line-height: 3em;
        text-align: left;
        margin-bottom: 1em;
    }

    header h1 {
        font-size: 100%;
    }

    nav {
        float: right;
    }

    div.search-small {
        display: none;
    }

    div.search-full {
        float: right;
        display: block;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    div.sleeve {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
}

/*--------------------------------------

Full size

--------------------------------------*/
@media screen and (min-width: 800px) {
    body {
        font-size: 16pt;
    }
    input.search-field {
        font-size: 16pt;
    }
    header {
        font-size: 100%;
    }
}
