$avatarSize: 256px;

h1, h2 {
  border: none;
}

img.avatar {
  display: none;
}

h1 {
  text-align: center;
}

@media screen and (min-width: 600px) {
  article {
    display: grid;
    padding-top: 36px;
    padding-left: 36px;
    grid-template-columns: $avatarSize 1fr;
    grid-gap: 36px;
  }
  img.avatar {
    display: inline;
    width: $avatarSize;
    height: $avatarSize;
    clip-path: circle(50%);
  }
  h1 {
    margin-top: 0;
    text-align: left;
  }
}
